@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario: #22D4FD;
    --color-secundario: #050505;
    --color-terciario: #f6f6f6;
    --color-cuaternario: #272727;
    

    --fuente-krona: 'Krona One', sans-serif;
    --fuente-monserrat: 'Montserrat', sans-serif;
}


*{
    margin: 0;
    padding: 0;
}


body{
    background-color: var(--color-secundario);
    color: var(--color-terciario);
    box-sizing: border-box;
}

header{
    padding: 2% 0% 0% 15%;
}

.header-menu{
    display: flex;
    gap: 80px;
}

.header-menu-link{
    font-family: var(--fuente-monserrat);
    font-size: 24px;
    font-weight: 600;
    color: var(--color-primario);
    text-decoration: none;
    
}




.presentacion{
    display: flex;
    align-items: center;
    padding: 6% 15%;
    justify-content: space-between;
}

.presentacion-contenido{
    width: 615px; 
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion-contenido-titulo{
    font-size: 36px;
    font-family: var(--fuente-krona);

}
.titulo-destaque{
    color: var(--color-primario);

}

.presentacion-contenido-texto{
    font-size: 24px;
    font-family: var(--fuente-monserrat);
    
}

.presentacion-enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}


.presentacion-enlace-link{
    width: 378px;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-monserrat);
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-terciario);
    border: 2px solid var(--color-primario);
    display: flex;
    justify-content: center;
    gap: 10px;

}

.presentacion-enlaces-subtitulo{
    font-size: 24px;
    font-family: var(--fuente-krona);
    font-weight: 400;
}

.presentacion-enlace-link:hover{
    background-color: var(--color-cuaternario);
    
}

.footer{
    background-color:var(--color-primario);
    padding: 24px;
    color: var(--color-secundario);
    text-align: center;
    font-family: var(--fuente-monserrat);
    font-size: 24px;
    font-weight: 400;
}